object_detection/ckpt_ncaltech101/n-caltech101-best.pth filter=lfs diff=lfs merge=lfs -text
object_detection/ckpt_gen1/gen1-best.pth filter=lfs diff=lfs merge=lfs -text
maxvit_tiny_pretrained.bin filter=lfs diff=lfs merge=lfs -text
